.products {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.loading{
  width: 100%;
  height: 50svh;
  display: flex;
  align-items: center;
  justify-content: center;
}